<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div id="{{ post.slug }}" class="panel panel-default" style="margin-top: 20px">
            <div class="panel-heading">
                <a href="{% url 'posts:view' post.slug %}">{{ post.date_created|timesince }}</a>
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="{{ post.photo.url }}" alt="{{ post.caption }}" width="720px"/>
                <p class="lead" style="margin-top: 25px">{{ post.caption }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>